#btnCreateOrder {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#selectDish {
  margin-bottom: 20px;
}

#orderQuantity {
  width: 60px;
  margin-left: 10px;
}

#addCart {
  margin-left: 10px;
}

#createOrder {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}